## Python Sets
This notebook is based on this article: [Sets in Python](https://realpython.com/python-sets/)

Python sets have these characteristics:
- Sets are unordered
- Sets elements are unique (no duplicates)
- sets can be modified, but elements cannot

### Creating Sets in Python
1. Using the set() function on an iterable (array, etc)

In [3]:
arr = [1, 2, 3]
x = set(arr)
x

{1, 2, 3}

2. Using curly {} braces

In [4]:
x = {1, 2, 3}
x

{1, 2, 3}

Strings can be turned into sets. However, any duplicate letters are removed.

In [5]:
my_str = 'Hello world'
x = set(my_str)
x

{' ', 'H', 'd', 'e', 'l', 'o', 'r', 'w'}

The len() function can be used to find the length of a set.

In [6]:
len(x)

8

## Set Operations

### Union
Two sets can be joined together using the union operator

In [11]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1_x2 = x1 | x2
x1_x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

They can also be joined using the .union() method

In [12]:
x1_x2_2 = x1.union(x2)
x1_x2_2

{'bar', 'baz', 'foo', 'quux', 'qux'}

However, while they both may seem to do the same thing the | operator can only join two sets, while the .union() can join sets with any kind of iterable

In [16]:
x1_x2 = x1_x2.union((1, 2, 3))
x1_x2

{1, 2, 3, 'bar', 'baz', 'foo', 'quux', 'qux'}

In [17]:
x1_x2 = x1_x2 | (4, 5, 6)

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

### Intersection
Finds the intersection, or the common elements between two sets

In [20]:
i1 = {1, 2, 3, 7, 4}
i2 = {9, 3, 12, 4}
i1_i2 = i1.intersection(i2)
i1_i2

{3, 4}

Multiple set intersections:

In [25]:
i3 = {1, 2, 3, 4}
i4 = {1, 3, 27}
i3 = i3.intersection({3, 32, 1, 2}, i4)
i3

{1, 3}

There are many other types of set operations available to python. Refer to this weblink for more information:
[Sets in Python](https://realpython.com/python-sets/)