In [1]:
import numpy as np
import pandas as pd

In [2]:
 df = pd.DataFrame({
        'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
        'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

In [3]:
df2 = df.copy()

In [4]:
df.gt(df2)

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [5]:
df2.ne(df)

     one    two  three
a  False  False   True
b  False  False  False
c  False  False  False
d   True  False  False

In [6]:
(df > 0).all()

one      False
two       True
three    False
dtype: bool

In [7]:
 (df > 0).any()

one      True
two      True
three    True
dtype: bool

In [8]:
(df > 0).any().any()

True